%h2 Normalized Database

%h3 Songs Data

%table.data
  %thead
    %tr
      %th id
      %th artist_id
      %th album_id
      %th track
      %th title
      %th length
  %tbody
    - @songs.each_with_index do |song, i|
      %tr
        %td= i + 1
        %td= @artists.index(@songs[i]['artist']) + 1
        %td= @albums.index(@songs[i]['album']) + 1
        %td= song['track']
        %td= song['title']
        %td= song['length']


%h3 Artists Data

%table.data
  %thead
    %tr
      %th id
      %th name
  %tbody
    - @artists.each_with_index do |artist, i|
      %tr
        %td= i + 1
        %td= artist


%h3 Albums Data

%table.data
  %thead
    %tr
      %th id
      %th name
      %th image
  %tbody
    - @albums.each_with_index do |album, i|
      %tr
        %td= i + 1
        %td= album
        %td
          %a{ href: "#" }>image url
